---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi, I'm Andrew.</h1>
			<p>
				I am an Engineer. This site is where I keep public record of projects that I've worked on, technical challenges that I've encountered, etc. Take a look at my
				<a href="/resume">resume</a> or browse the <a href="/blog">blog</a>.
			</p>

			<p>Please note that any and all AI generated content on this website will be marked as such!</p>

			<p>This site is a <b>work in progress</b>, more content is on the way!</p>
		</main>
		<Footer />
	</body>
</html>
